
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-purple"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Queensborogh Commuity College </b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2018- May 2021</h6>
          <p>Studied in Computer science and cybersecurity</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Queen Vocational and Techinical High School</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017</h6>
          <p>Studied Graphic design and wed development.</p>
          <hr>
        </div>
      
      </div>